<% provide(:title, "Home") %>


<div class="jumbotron">
  <div class="container">

    <h1>Welcome to my Blog</h1>
    <h2>
      Bloggilot: It's all about blogging: 
      <%= link_to 'My Blog', controller: 'articles' %>
    </h2>
    <br>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

    <p class="credential">
      <%= link_to image_tag("rails.png", alt: "Rails logo"),'http://rubyonrails.org/' %> 
      Made with Rails
    </p>
    
  </div>
</div>

 

<div class="container">
  <h1 class="text-center">Latest Blogs</h1>
    <div class="row">

      <% if @articles_latest != nil %>
        <% @articles_latest.each do |article| %>
          <%= render partial: "shared/article_block", locals: {article: article} %>
        <% end %>
      <% end %>

    </div>
    

  <% if @articles_second_latest != nil %>

    <button id="btn-show-more" type="button" class="btn btn-info center-block" data-toggle="collapse" data-target="#more-blog-items">Show More Blogposts</button>

    <div id="more-blog-items" class="collapse">

      <div class="container">
        <div class="row anchor-more-blog-items">


            <% @articles_second_latest.each do |article| %>
              <%= render partial: "shared/article_block", locals: {article: article} %>
            <% end %>


        </div>
      </div> 

    </div><!-- end blog level one -->
  <% end %><!-- if @articles_second_latest != nil -->
</div><!-- end container -->

 
