<% provide(:title, "Listing Articles") %>

<div class="container">
  <h1>Listing Articles</h1>
  <%= link_to 'New article', new_article_path, class: "btn btn-default" %>
</div>

<div class="container">
  <div class="row">

    <% @articles.each do |article| %>
      <div class="col-sm-4 blog-item">
        <h2><%= article.title %></h2>
        <strong><%= article.created_at.strftime("%d %B %Y | %I:%M %P") %></strong>
        <p><%= article.teaser %></p>

        <div class="btn-group">
          <%= link_to 'Show', article_path(article), class: "btn btn-default" %>
          <%= link_to 'Edit', edit_article_path(article), class: "btn btn-default" %>
          <%= link_to 'Destroy', article_path(article), class: "btn btn-default",
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>